.innerContainer {
	padding: 2rem;
	margin: 2rem;
	border-radius: 2rem;
	font-size: 1.563rem;
	gap: 2.5rem;
	box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
	background-image: linear-gradient(150deg, #134074 0%, #13315c 100%);
	width: 100%;
	position: relative;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.container {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.textContainer {
	max-width: 20rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: white;
}

.image {
	width: 10rem;
	height: 5rem;
	padding: 1rem;
	margin: 1rem;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	border-radius: 1rem;
}

.title {
	font-weight: 500;
	font-size: 1.375rem;
	padding-bottom: 1rem;
	text-align: center;
}

.content {
	font-size: 1rem;
	text-align: justify;
	padding-bottom: 2rem;
}

.links {
	margin-top: 1rem;
	display: flex;
	flex-direction: row;
	gap: 0.75rem;
	position: absolute;
	bottom: 1rem;
}

.links > * {
	cursor: pointer;
	width: 1.5rem;
	height: 1.5rem;
	background-repeat: no-repeat;
	background-size: contain;
}

.github {
	background-image: url(../../../public/links-icon/github.svg);
}

.demo {
	background-image: url(../../../public/links-icon/demo.svg);
}

@media screen and (max-width: 1050px) {
	/* .container {
		flex-direction: column;
	} */

	.image {
		width: 80%;
		height: 4rem;
		margin-right: 0;
		margin-bottom: 1rem;
		padding: 2rem 1rem 2rem 1rem;
	}
}

@media screen and (max-width: 900px) {
	.container {
		margin: 1rem;
	}
}
