.container {
	width: 100%;
	position: relative;
	border-radius: 1.5rem;
	margin-top: 4rem;
	max-height: fit-content;
	box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
	background-color: var(--color-secondary);
	display: flex;
	justify-content: center;
}

.innerContainer {
	display: grid;
	column-gap: 5rem;
	/* grid-template-columns: repeat(2, 1fr); */
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Adjust minmax values as needed */
	width: 120%;
}

.title {
	font-weight: 500;
	position: absolute;
	top: -2rem;
	left: 1.5rem;
	font-size: 2.5rem;
	color: var(--color-text);
}
