.container {
	padding: 2rem;
	font-size: 25px;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.row {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.category {
	color: white;
}

.skills {
	color: var(--color-dark-green);
}
