.container {
	padding: 4rem;
	margin: 0 2rem 2rem 2rem;
	border-radius: 2rem;
	font-size: 1.563rem;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	flex-wrap: wrap;
	gap: 2.5rem;
}

.row {
	gap: 1.5rem;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.category {
	color: white;
}

.skills {
	font-size: 1.125rem;
	color: var(--color-dark-green);
}

.skillsIcon {
	scale: 2;
}
.picker {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 1rem 2rem 0 2rem;
	justify-content: space-evenly;
}

.pickerElement {
	font-size: 1.25rem;
	padding: 0.5rem;
	cursor: pointer;
	position: relative;
	z-index: 1;
	display: block;
}

.pickerElementBackground {
	position: absolute;
	z-index: -1;
	left: 0;
	right: 0;
	margin: auto;
	bottom: 15px;
	height: 3rem;
	border-radius: 8px;
}

.skillsIconContainer {
	display: grid;
	place-items: center;
}

.skillTitle {
	padding-top: 0.5rem;
	font-size: 1rem;
	font-weight: 500;
}
