.container {
	padding: 3rem 0 2rem 0;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 2rem;
}
.field {
	position: relative;
	border-radius: 1rem;
	margin-left: 1.75rem;
	height: 3rem;
	width: 30%;
	background-color: var(--color-main-background);
}

.bigField {
	width: auto;
	height: 10rem;
}

.largeModule {
	resize: none;
	height: 9rem !important;
	padding: 1rem 0 0 0;
	font-family: "Inter", sans-serif;
}

.title {
	position: absolute;
	top: -0.85rem;
	left: 0.75rem;
	font-size: 18px;
}

.input {
	width: 100%;
	background-color: var(--color-main-background);
	border-width: 0;
	border-radius: 1rem;
	height: 3rem;
	background-color: var(--color-main-background);
	outline: none;
	padding-left: 1rem;
	font-size: 18px;
	caret-color: var(--color-dark-grey);
	color: var(--color-dark-grey);
}

.submitButton {
	width: 7rem;
	height: 2.5rem;
	margin: auto auto 1.5rem auto;
	background-color: var(--color-red);
	border-radius: 0.75rem;
	text-align: center;
	cursor: pointer;
	transition: background-color 300ms;
}

.submitButton:hover {
	background-color: var(--color-yellow);
}

@media screen and (min-width: 1000px) {
	.largeModule {
		width: 100%;
	}
	.bigField {
		width: 80%;
	}
}

@media screen and (max-width: 1000px) {
	.input {
		width: 100%;
	}

	.field {
		width: 78%;
	}
}
