.container {
	width: 100%;
	padding: 3rem 0 2rem 0;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: flex-start;
	gap: 2rem;
}
.field {
	position: relative;
	border-radius: 1rem;
	height: 3rem;
	width: 30%;
	background-color: var(--color-main-background);
}

.container > * {
	margin: 0 1.75rem 0 1.75rem;
}

.bigField {
	width: calc(100% - 1.75rem * 2 - 2rem);
	height: 10rem;
	/* padding-top: 1rem; */
}

.largeModule {
	resize: none;
	/* padding: 1rem 0 0 0; */
	font-family: "Inter", sans-serif;
}

.title {
	position: absolute;
	top: -0.85rem;
	left: 0.75rem;
	font-size: 1.125rem;
}

.input {
	border-width: 0;
	border-radius: 1rem;
	height: 100%;
	outline: none;
	padding: 0 1rem 0 1rem;
	font-size: 1.125rem;
}

.largeModule.input {
	padding-top: 1rem;
}

.submitButton {
	width: 7rem;
	height: 2.5rem;
	margin: auto auto 1.5rem auto;
	border-radius: 0.75rem;
	text-align: center;
	display: grid;
	place-content: center;
	cursor: pointer;
	transition: background-color 300ms;
}

.submitButton:hover {
	background-color: var(--color-yellow);
}

@media screen and (min-width: 1079px) {
	.largeModule {
		width: 100%;
	}
}

@media screen and (max-width: 1079px) {
	.input {
		width: 100%;
	}

	.field {
		width: calc(100% - 1.75rem * 2 - 2rem);
	}
}
