.navbar {
	font-size: 18px;
	display: flex;
	flex-direction: row;
	width: 25%;
	min-width: fit-content;
	justify-content: space-between;
	position: absolute;
	top: 2rem;
	right: 2rem;
	gap: 1rem;
}

.item {
	color: inherit;
	text-decoration: none;
	-webkit-user-drag: none;
	display: inline-block;
	position: relative;
	cursor: pointer;
}

.item:after {
	content: "";
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 4px;
	bottom: -25px;
	left: 0;
	background-color: var(--color-foreground-medium);
	transform-origin: bottom right;
	transition: transform 0.25s ease-out;
}

.item:hover:after {
	transform: scaleX(1);
	transform-origin: bottom left;
}
