.navbar {
	font-size: 1.125rem;
	display: flex;
	flex-direction: row;
	width: 25%;
	min-width: fit-content;
	margin: auto;
	gap: 1rem;
}

.item {
	color: inherit;
	text-decoration: none;
	-webkit-user-drag: none;
	display: inline-block;
	position: relative;
	cursor: pointer;
}

.underline {
	position: absolute;
	width: 100%;
	border-radius: 2px;
	height: 5px;
	left: 0;
}

.item:hover:after {
	transform: scaleX(1);
	transform-origin: bottom left;
}
