.navbar {
	font-size: 1.125rem;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	min-width: fit-content;
	margin: auto;
	gap: 1rem;
}

.item {
	color: inherit;
	text-decoration: none;
	-webkit-user-drag: none;
	display: inline-block;
	position: relative;
	cursor: pointer;
	background: linear-gradient(120deg, var(--color-primary), var(--color-accent));
	box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
	color: var(--color-text);
}

/* .underline {
	position: absolute;
	width: 100%;
	border-radius: 2px;
	height: 5px;
	left: 0;
} */

.item:hover:after {
	transform: scaleX(1);
	transform-origin: bottom left;
}
