/* TODO togli sta roba */
#root {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.justified {
	/* text-align: left !important; */
}
.center-vertically {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.container {
	width: clamp(21rem, 60vw, 60vw);
	padding: 2rem 0 2rem 0;
}
@media only screen and (max-width: 1300px) {
	.container {
		width: clamp(21rem, 80vw, 90vw);
		padding: 2rem 0 2rem 0;
	}
}

.expandArrow {
	cursor: pointer;
	width: 4rem;
	height: 2rem;
	border-top-left-radius: 100px;
	border-top-right-radius: 100px;
	border-bottom: 0;
	background-color: var(--color-yellow);
}

.expandArrow__image {
	width: 2rem;
	height: 2rem;
	transition: 300ms;
}

.contentContainer__description {
	font-size: 1.25rem;
	padding: 2rem;
	text-align: center;
}

.noBottomPadding {
	padding: 2rem 2rem 0 2rem;
	margin: 0;
}

.contentContainer__body {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	flex-basis: 100%;
	align-items: center;
	justify-content: center;
	padding: 1rem;
}

.backToTop:hover {
	background-color: var(--color-foreground-medium);
}
