/* TODO togli sta roba */
.justified {
	text-align: justify !important;
}
.center-vertically {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.container {
	margin: auto;
	width: clamp(21rem, 50vw, 60vw);
	padding: 2rem 0 2rem 0;
}

.expandArrow {
	cursor: pointer;
	width: 4rem;
	height: 2rem;
	border-top-left-radius: 100px;
	border-top-right-radius: 100px;
	border-bottom: 0;
	background-color: var(--color-yellow);
	margin: auto;
}

.expandArrow__image {
	width: 2rem;
	height: 2rem;
	transition: 300ms;
}

.contentContainer__description {
	font-size: 1.563rem;
	padding: 2rem;
	text-align: center;
}

.noBottomPadding {
	padding: 2rem 2rem 0 2rem;
	margin: 0;
}

.contentContainer__body {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	flex-basis: 100%;
	align-items: center;
	justify-content: center;
	padding: 1rem;
}

.backToTop {
	visibility: hidden;
	width: 2rem;
	height: 2rem;
	border-radius: 1rem;
	background-color: var(--color-foreground-medium);
	cursor: pointer;
	position: fixed;
	bottom: 20px;
	right: 30px;
	padding: 15px;
	transition: background-color 300ms;
}

.backToTop:hover {
	background-color: var(--color-foreground-medium);
}

@media screen and (max-width: 1200px) {
	.centerContainer {
		width: 50vw;
	}

	.header {
		width: 65vw;
	}

	.container {
		padding-left: 0;
		padding-right: 0;
	}
}

@media screen and (max-width: 1160px) {
	.headerFirstContainer {
		flex-direction: column;
	}

	.headerTextContainer {
		width: 60vw;
	}
	.centerContainer {
		width: 60vw;
		min-width: 350px;
	}

	.submitButton {
		margin-right: 4rem;
		margin-left: 4rem;
		width: auto;
	}
}
