/* TODO togli sta roba */
.center-vertically {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.center-horizontally {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
}

body {
	font-family: "Inter", sans-serif;
	background-color: var(--color-main-background);
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

.container {
	width: 60vw;
	padding: 2% 20% 10% 20%;
}

.projectInsertAnimator {
	animation: addProjectAnimation 0.4s ease-in-out;
}

.yellow {
	color: var(--color-yellow);
}

.backYellow {
	background-color: var(--color-yellow);
}

.green {
	color: var(--color-dark-green);
}

.backViolet {
	background-color: var(--color-violet);
}

.darkGrey {
	color: var(--color-dark-grey);
}

.backDarkGrey {
	background-color: var(--color-dark-grey);
}

.backDarkGreen {
	background-color: var(--color-dark-green);
}
.lightGreen {
	color: var(--color-light-green);
}

.expandArrow {
	cursor: pointer;
	width: 4rem;
	height: 2rem;
	border-top-left-radius: 100px;
	border-top-right-radius: 100px;
	border-bottom: 0;
	background-color: var(--color-yellow);
	margin: auto;
}

.expandArrow__image {
	width: 2rem;
	height: 2rem;
	transition: 300ms;
}

.rotate {
	transform: rotate(180deg);
	transition: transform 500ms;
}

.resetRotate {
	transform: rotate(360deg);
	transition: transform 500ms;
}

.aboutTitle {
	color: var(--color-dark-green);
}

.contentContainer__description {
	color: var(--color-yellow);
	font-size: 25px;
	padding: 2rem;
}

.submitButton {
	width: 7rem;
	height: 2.5rem;
	margin: auto auto 1.5rem auto;
	background-color: var(--color-red);
	border-radius: 0.75rem;
	text-align: center;
	cursor: pointer;
	transition: background-color 300ms;
}

.submitButton:hover {
	background-color: var(--color-yellow);
}

.backToTop {
	visibility: hidden;
	width: 2rem;
	height: 2rem;
	border-radius: 1rem;
	background-color: var(--color-red);
	cursor: pointer;
	position: fixed;
	bottom: 20px;
	right: 30px;
	padding: 15px;
	transition: background-color 300ms;
}

.backToTop:hover {
	background-color: var(--color-yellow);
}

@keyframes addProjectAnimation {
	from {
		transform: scale(0);
	}
}

@keyframes removeProjectanimatikon {
	to {
		transform: scale(0);
	}
}

@media screen and (max-width: 1200px) {
	.centerContainer {
		width: 50vw;
	}

	.header {
		width: 65vw;
	}

	.container {
		padding-left: 0;
		padding-right: 0;
	}

	.contentContainer__project {
		width: auto;
		margin-left: 3rem;
		margin-right: 3rem;
		margin-top: 2rem;
	}
}

@media screen and (max-width: 800px) {
	.headerFirstContainer {
		flex-direction: column;
	}

	.navbar {
		margin: 0;
		display: flex;
		min-width: 320px;
		width: 56vw;
		height: 5rem;
		position: relative;
		top: 0;
		right: 0;
		flex-direction: column;
		background-color: var(--color-red);
		border-radius: 1rem;
		padding: 15px;
		margin-bottom: 1rem;
		transition: display 500ms;
	}

	.headerTextContainer {
		width: 60vw;
	}
	.centerContainer {
		width: 60vw;
		min-width: 350px;
	}

	.header__title {
		width: 60vw;
		min-width: 350px;
	}

	.header__description {
		min-width: 350px;
	}

	.submitButton {
		margin-right: 4rem;
		margin-left: 4rem;
		width: auto;
	}
}
