* {
	scroll-behavior: smooth;
}
:root {
	--color-dark-green: #2a9d8f;
	--color-violet: #a7a5c6;
	--color-main-background: #e8e2df;
	--color-yellow: #e9c46a;
	--color-dark-grey: #2f2f2f;
	--color-red: #ef6e64;
	--color-light-green: #7fc29b;
}
::-webkit-scrollbar {
	padding: 1rem;
	left: -100px;
	width: 0.5rem;
	border-radius: 10rem;
}

::-webkit-scrollbar-track {
	border: solid 3px transparent;
}

::-webkit-scrollbar-thumb {
	background-color: var(--color-light-green);
	border-radius: 10rem;
	padding: 1rem;
	margin: 1rem;
	border: solid 3px transparent;
}
