* {
	scroll-behavior: smooth;
}
body {
	font-family: "Inter", sans-serif;
	background-color: var(--color-foreground-dark);
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}
:root {
	--color-background: #eef4ed;
	--color-foreground-dark: #0b2545;
	--color-foreground-medium: #13315c;
	--color-foreground-light: #134074;
}
::-webkit-scrollbar {
	padding: 1rem;
	left: -100px;
	width: 0.5rem;
	border-radius: 10rem;
}

::-webkit-scrollbar-track {
	border: solid 3px transparent;
}

::-webkit-scrollbar-thumb {
	background-color: var(--color-light-green);
	border-radius: 10rem;
	padding: 1rem;
	margin: 1rem;
	border: solid 3px transparent;
}
